[Unit]
Description=rabbitmq_exporter for delivering metrics for Prometheus
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ rabbitmq_exporter.service_user }}
Group={{ rabbitmq_exporter.service_group }}
ExecStart={{ rabbitmq_exporter.bin_dir }}/rabbitmq_exporter \
{% if rabbitmq_exporter.options is defined -%}
{% for options in rabbitmq_exporter.options -%}
--{{ options+" " }}
{%- endfor %}
{%- endif %}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
